/*!
 * Roots 6.5.2
 */
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { }

img {
   max-width: 100%;
   height: auto;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner {
   margin-top:20px;
   margin-bottom:10px;
   .navLinks {
      margin-top:10px;
      .navbar-nav {
         margin: 0 auto;
         display: table;
         table-layout: fixed;
         float:none;

         li {
            a {
               color:#B54993;
               font-size:1.4em;
               text-align:center;

            }
         }
      }
   }
   .welcome {
      width:90%;
      margin: 0 auto;
      p {
         padding-top:15px;
         padding-right:15px;
         padding-left:15px;
         padding-bottom:15px;
         background:#EEEEEE;
      }
   }
}

#menu-primary-navigation {
   margin: 0 auto;
}




/* ==========================================================================
   Content
   ========================================================================== */

.content { }

.row{
   margin-left:0px;
   margin-right:0px;
}

.postBase {
   background-color:#EEEEEE;
   position: relative;
   margin-bottom:25px;
   .articleText{
      text-align:justify;
      text-justify:inter-word;
      .published{
         .postDate{
            color:#B54993;
            margin-top:10px;
         }
      }
      .entry-summary{
         .readMore{
            a {
               text-align:center;
               color:#B54993;
               display: block;
            }
         }
      }
      word-wrap:break-word;
   }
   .titleBanner {
      position: absolute;

      top: 0;
      background-color:rgba(181, 73, 147, 0.5);
      width:100%;
      .title{
         text-align:center;
         margin-top:5px;
         margin-left:5px;
         margin-right:5px;
         a {
         color:white;
         }
      }
   }
}

.post-wide {
   .postBase;
   .articleText{
      padding-left:15px;
      padding-right:15px;
      overflow: hidden;
      text-overflow: ellipsis;
   }
}

.post-tall {
   .postBase;
   .leftColumn{
      padding-left:0px;
      padding-right:0px;
      .articleText{
         padding-left:15px;
         padding-right:15px;
         overflow: hidden;
         text-overflow: ellipsis;
      }
   }
   .rightColumn {
      padding-left:0px;
      padding-right:0px;

   }
}

.post-square {
   .postBase;
   .leftColumn {
      padding-left:0px;
      padding-right:0px;
   }
   .rightColumn {
      padding-left:0px;
      padding-right:0px;
      .articleText {
         padding-left:15px;
         padding-right:15px;
         overflow: hidden;
         text-overflow: ellipsis;
      }
   }
}





/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { 
   background-color:#B54993;
   min-height:150px;
   color:white;
   .quote{
      text-align:center;
      margin-top:40px;
   }
 }

 .navFooter{
      margin-top:10px;
      .navbar-nav {
         margin: 0 auto;
         display: inline;
         table-layout: fixed;
         float:none;

         li {
            a {
               color:white;
               font-size:1.4em;
               padding-top:5px;
               padding-bottom:5px;
            }
            a:hover{
               background-color:transparent;
            }
            float:none;
         }
      }
   }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
